<SoftwareType>
	<Name>App</Name>
	<Category>Apps</Category>
	<Description>Applications and software for mobile phones. They will need a digital store in order to be distributed, and some will need a website on which to store their streaming content.</Description>
	<Random>0.5</Random>
	<IdealPrice>10</IdealPrice>
    <OSSpecific>True</OSSpecific>
    <OSLimit>Phone</OSLimit>
	<OneClient>False</OneClient>
	<InHouse>False</InHouse>
	<Categories>
		<Category Name="Video">
			<Description>Plays video from an online source.</Description>
            <Unlock>2006</Unlock>
			<Popularity>0.8</Popularity>
			<Retention>0.75</Retention>
			<TimeScale>0.7</TimeScale>
			<Iterative>0.1</Iterative>
			<NameGenerator>AppVideo</NameGenerator>
		</Category>
		<Category Name="Music">
			<Description>Plays music from an online source.</Description>
            <Unlock>2006</Unlock>
			<Popularity>0.8</Popularity>
			<Retention>0.75</Retention>
			<TimeScale>0.65</TimeScale>
			<Iterative>0.1</Iterative>
			<NameGenerator>AppMusic</NameGenerator>
		</Category>
        <Category Name="Dating">
			<Description>Find love online.</Description>
            <Unlock>2006</Unlock>
			<Popularity>0.7</Popularity>
			<Retention>0.85</Retention>
			<TimeScale>0.5</TimeScale>
			<Iterative>0.2</Iterative>
			<NameGenerator>AppDating</NameGenerator>
		</Category>
        <Category Name="Social Network">
			<Description>Allow friends and acquaintances to post messages to one another and update statuses.</Description>
            <Unlock>2006</Unlock>
			<Popularity>0.9</Popularity>
			<Retention>0.9</Retention>
			<TimeScale>0.9</TimeScale>
			<Iterative>0.05</Iterative>
			<NameGenerator>AppSocialNetwork</NameGenerator>
		</Category>
        <Category Name="Fitness">
			<Description>Track heart rate, weight, step count, and other fitness data.</Description>
            <Unlock>2013</Unlock>
			<Popularity>0.8</Popularity>
			<Retention>0.9</Retention>
			<TimeScale>0.5</TimeScale>
			<Iterative>0.05</Iterative>
			<NameGenerator>AppFitness</NameGenerator>
		</Category>
	</Categories>
	<Features>
		<Feature Forced="TRUE">
			<Name>App interface</Name>
			<Category>2D</Category>
			<Description>Basic GUI for the app.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>1</Usability>
			<Stability>1</Stability>
			<CodeArt>0.5</CodeArt>
            <Dependency Software="Digital Store">App downloads</Dependency>
            <Dependency Software="2D Editor">Image rendering</Dependency>
		</Feature>
        <Feature Vital="TRUE" From="App interface">
			<Name>Touch interface</Name>
			<Category>2D</Category>
			<Description>Touch screen interactions for the app.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>1</Usability>
			<Stability>0</Stability>
			<CodeArt>0.5</CodeArt>
            <Dependency Software="Operating System">Touch</Dependency>
		</Feature>
        <!-- VIDEO START -->
        <Feature Forced="TRUE">
			<Name>Video playback</Name>
			<Category>2D</Category>
			<Description>Allows the app to play back videos.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>1</Usability>
			<Stability>0</Stability>
			<CodeArt>0.5</CodeArt>
            <Dependency Software="Website">Video playback</Dependency>
            <Dependency Software="Video Editor">Video compression</Dependency>
            <SoftwareCategory Category="Video">0</SoftwareCategory>
		</Feature>
        <Feature>
			<Name>Video playlists</Name>
			<Category>System</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Users can make playlists of videos.</Description>
			<DevTime>1</DevTime>
			<Innovation>0</Innovation>
			<Usability>1</Usability>
			<Stability>0</Stability>
			<CodeArt>0.8</CodeArt>
            <Dependency Software="App">Video playback</Dependency>
            <SoftwareCategory Category="Video">0</SoftwareCategory>
		</Feature>
        <Feature>
			<Name>HD video</Name>
			<Category>System</Category>
			<Description>Videos can be played back up to 1920x1080.</Description>
			<DevTime>2</DevTime>
			<Innovation>1</Innovation>
			<Usability>1</Usability>
			<Stability>0</Stability>
			<CodeArt>1</CodeArt>
            <Dependency Software="App">Video playback</Dependency>
            <Dependency Software="Website">HD video</Dependency>
            <Dependency Software="Video Editor">HD rendering</Dependency>
            <SoftwareCategory Category="Video">0</SoftwareCategory>
		</Feature>
        <Feature Vital="TRUE">
			<Name>Video ratings</Name>
			<Category>System</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Users can add ratings for videos.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>0</Usability>
			<Stability>1</Stability>
			<CodeArt>0.9</CodeArt>
            <Dependency Software="App">Video playback</Dependency>
            <Dependency Software="Website">Video ratings</Dependency>
            <SoftwareCategory Category="Video">0</SoftwareCategory>
		</Feature>
        <Feature From="Video ratings" Vital="TRUE">
			<Name>Video reviews</Name>
			<Category>System</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Users can add reviews and ratings for videos.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>0</Usability>
			<Stability>1</Stability>
			<CodeArt>0.9</CodeArt>
            <Dependency Software="Website">Video reviews</Dependency>
			<SoftwareCategory Category="Video">0</SoftwareCategory>
		</Feature>
        <!-- VIDEO END -->
        <!-- MUSIC START -->
        <Feature Forced="TRUE">
			<Name>Music playback</Name>
			<Category>Audio</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Allows the app to play back music.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>1</Usability>
			<Stability>0</Stability>
			<CodeArt>0.5</CodeArt>
            <Dependency Software="Website">Music playback</Dependency>
            <Dependency Software="Music Editor">Music playback</Dependency>
            <SoftwareCategory Category="Music">0</SoftwareCategory>
		</Feature>
        <Feature Vital="TRUE">
			<Name>Music ratings</Name>
			<Category>System</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Users can add ratings for music.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>0</Usability>
			<Stability>1</Stability>
			<CodeArt>0.9</CodeArt>
            <Dependency Software="App">Music playback</Dependency>
            <Dependency Software="Website">Music ratings</Dependency>
            <SoftwareCategory Category="Music">0</SoftwareCategory>
		</Feature>
        <Feature From="Music ratings" Vital="TRUE">
			<Name>Music reviews</Name>
			<Category>System</Category>
            <ArtCategory>2D</ArtCategory>
			<Description>Users can add reviews and ratings for music.</Description>
			<DevTime>1</DevTime>
			<Innovation>1</Innovation>
			<Usability>0</Usability>
			<Stability>1</Stability>
			<CodeArt>0.9</CodeArt>
            <Dependency Software="Website">Music reviews</Dependency>
			<SoftwareCategory Category="Music">0</SoftwareCategory>
		</Feature>
        <!-- MUSIC END -->
        <!-- DATING START -->
        <Feature Forced="TRUE">
            <Name>Dating profiles</Name>
            <Category>System</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Allow users to create and share profiles.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>0.5</CodeArt>
            <Dependency Software="Website">Dating profiles</Dependency>
            <Dependency Software="2D Editor">Image rendering</Dependency>
            <SoftwareCategory Category="Dating">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Profile search</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Search for profiles of potential matching partners.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>0.9</CodeArt>
            <Dependency Software="App">Dating profiles</Dependency>
            <Dependency Software="Website">Profile search</Dependency>
            <SoftwareCategory Category="Dating">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Profile matching</Name>
            <Category>Algorithm</Category>
            <Description>Potential matches are suggested based on the user's profile.</Description>
            <DevTime>2</DevTime>
            <Innovation>1</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>1</CodeArt>
            <Dependency Software="Website">Profile matching</Dependency>
            <SoftwareCategory Category="Dating">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Photo upload</Name>
            <Category>Network</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can upload profile pictures.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>0.6</CodeArt>
            <Dependency Software="Website">Photo upload</Dependency>
            <Dependency Software="2D Editor">Image rendering</Dependency>
            <SoftwareCategory Category="Dating">0</SoftwareCategory>
        </Feature>
        <Feature>
            <Name>Chemistry</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can answer personality questions designed to improve their matches.</Description>
            <DevTime>2</DevTime>
            <Innovation>3</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>0.85</CodeArt>
            <Dependency Software="2D Editor">Graphic design</Dependency>
            <Dependency Software="Website">Chemistry</Dependency>
            <SoftwareCategory Category="Dating">0</SoftwareCategory>
        </Feature>
        <!-- DATING END -->
        <!-- SOCIAL NETWORK START -->
        <Feature Forced="TRUE">
            <Name>Social profiles</Name>
            <Category>System</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can create and share profile information.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.5</CodeArt>
            <Dependency Software="2D Editor">Graphic design</Dependency>
            <Dependency Software="Website">Social profiles</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Friend requests</Name>
            <Category>System</Category>
            <Description>Users can befriend others.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>1</CodeArt>
            <Server>0.0001</Server>
            <Dependency Software="Website">Friend requests</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Social timeline</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>A view of what friends have been posting.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.7</CodeArt>
            <Dependency Software="2D Editor">Graphic design</Dependency>
            <Dependency Software="Website">Social timeline</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Photo uploads</Name>
            <Category>Network</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can upload and share photographs.</Description>
            <DevTime>2</DevTime>
            <Innovation>1</Innovation>
            <Usability>2</Usability>
            <Stability>1</Stability>
            <CodeArt>0.75</CodeArt>
            <Dependency Software="2D Editor">Graphic design</Dependency>
            <Dependency Software="Website">Photo uploads</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Camera uploads</Name>
            <Category>Network</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can upload and share photographs directly from the device camera.</Description>
            <DevTime>2</DevTime>
            <Innovation>1</Innovation>
            <Usability>1</Usability>
            <Stability>0</Stability>
            <CodeArt>0.9</CodeArt>
            <Dependency Software="Website">Photo uploads</Dependency>
            <Dependency Software="Operating System">Camera support</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <Feature>
            <Name>3rd party sharing</Name>
            <Category>Network</Category>
            <Description>Other websites or apps can share directly to user's profiles, with permission.</Description>
            <DevTime>1</DevTime>
            <Innovation>2</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>1</CodeArt>
            <Dependency Software="Website">3rd party sharing</Dependency>
            <SoftwareCategory Category="Social Network">0</SoftwareCategory>
        </Feature>
        <!-- SOCIAL NETWORK END -->
        <!-- FITNESS START -->
        <!-- FITNESS END -->
        <Feature Forced="TRUE">
            <Name>Fitness profile</Name>
            <Category>System</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can create a profile to store fitness data.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.5</CodeArt>
            <Dependency Software="2D Editor">Graphic design</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature>
            <Name>Fitness charts</Name>
            <Category>2D</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Charts display fitness data over time.</Description>
            <DevTime>2</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.5</CodeArt>
            <Dependency Software="App">Fitness profile</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature>
            <Name>Fitness goals</Name>
            <Category>System</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can set a goal for steps taken, weight, or other metrics, and aim to beat the goal.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.9</CodeArt>
            <Dependency Software="App">Fitness profile</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Heart rate</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can record and monitor heart rate.</Description>
            <DevTime>1</DevTime>
            <Innovation>0</Innovation>
            <Usability>1</Usability>
            <Stability>1</Stability>
            <CodeArt>0.8</CodeArt>
            <Dependency Software="Operating System">Heart rate monitoring</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Sleep monitoring</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can monitor sleep patterns.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>0</Usability>
            <Stability>1</Stability>
            <CodeArt>0.8</CodeArt>
            <Dependency Software="Operating System">Sleep monitoring</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Step count</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can track how many steps taken per day.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>0</Usability>
            <Stability>1</Stability>
            <CodeArt>0.8</CodeArt>
            <Dependency Software="Operating System">Step detection</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Weight on phone</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can record weight using a third party bluetooth scale.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>0</Usability>
            <Stability>1</Stability>
            <CodeArt>0.8</CodeArt>
            <Dependency Software="Operating System">Bluetooth</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature Vital="TRUE">
            <Name>Weight on watch</Name>
            <Category>Algorithm</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can record weight using a third party bluetooth scale.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>0</Usability>
            <Stability>1</Stability>
            <CodeArt>0.8</CodeArt>
            <Dependency Software="Operating System">Watch bluetooth</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
        <Feature>
            <Name>Social sharing</Name>
            <Category>System</Category>
            <ArtCategory>2D</ArtCategory>
            <Description>Users can share goal achievements with others online.</Description>
            <DevTime>1</DevTime>
            <Innovation>1</Innovation>
            <Usability>0</Usability>
            <Stability>0</Stability>
            <CodeArt>0.9</CodeArt>
            <Dependency Software="App">Fitness goals</Dependency>
            <Dependency Software="Website">3rd party sharing</Dependency>
            <SoftwareCategory Category="Fitness">0</SoftwareCategory>
        </Feature>
	</Features>
</SoftwareType>
